<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--#禁用控制台日志，see https://stackoverflow.com/questions/43918414/how-to-disable-console-logging-in-spring-boot-->

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>
    <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProperty scope="context" name="app_id" source="spring.application.name"/>
    <springProperty scope="context" name="rootLevel" source="logging.level.root" defaultValue="debug"/>
    <property name="amqpHost" value="localhost"/>
    <property name="amqpPort" value="5672"/>
    <property name="amqpUsername" value="guest"/>
    <property name="amqpPassword" value="guest"/>
    ​
    <!--生产环境值-->
    <springProfile name="prod">
        <property name="rootLevel" value="info"/>
        <property name="amqpHost" value="peacetrue.cn"/>
        <property name="amqpPort" value="5672"/>
        <property name="amqpUsername" value="guest"/>
        <property name="amqpPassword" value="guest"/>
    </springProfile>

    <appender name="AMQP" class="org.springframework.amqp.rabbit.logback.AmqpAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <!-- //TODO excludeMdcKeyName 不生效-->
            <excludeMdcKeyName>rootLevel</excludeMdcKeyName>
            <excludeMdcKeyName>X-Span-Export</excludeMdcKeyName>
            <excludeMdcKeyName>X-B3-SpanId</excludeMdcKeyName>
            <excludeMdcKeyName>X-B3-TraceId</excludeMdcKeyName>
            <shortenedLoggerNameLength>36</shortenedLoggerNameLength>
            <fieldNames>
                <logger>class</logger>
                <thread>thread</thread>
            </fieldNames>
        </encoder>

        <!--默认值-->
        <host>${amqpHost}</host>
        <!--默认值-->
        <port>${amqpPort}</port>
        <!--默认值-->
        <virtualHost>/</virtualHost>
        <!--默认值-->
        <username>${amqpUsername}</username>
        <!--默认值-->
        <password>${amqpPassword}</password>
        <!--默认值 false，改为 true -->
        <declareExchange>true</declareExchange>
        <!--默认值-->
        <exchangeName>logs</exchangeName>
        <!--默认值-->
        <exchangeType>topic</exchangeType>
        <!--默认值-->
        <durable>true</durable>
        <!--默认值-->
        <autoDelete>false</autoDelete>
        <!--默认值-->
        <routingKeyPattern>%c.%p</routingKeyPattern>
        <!--默认值-->
        <deliveryMode>PERSISTENT</deliveryMode>
        <!--默认值-->
        <senderPoolSize>2</senderPoolSize>
        <!--默认值-->
        <maxSenderRetries>30</maxSenderRetries>

        <!--默认值 -->
        <contentType>text/plain</contentType>
        <!--无默认值，设置为 UTF-8 -->
        <contentEncoding>UTF-8</contentEncoding>

        <!--无默认值，从配置文件读取  -->
        <applicationId>${app_id}</applicationId>
        <!--默认值-->
        <generateId>false</generateId>
        <!--默认值 -->
        <addMdcAsHeaders>true</addMdcAsHeaders>

    </appender>
    ​
    <root level="${rootLevel}">
        <springProfile name="consoleLog">
            <appender-ref ref="CONSOLE"/>
        </springProfile>
        <springProfile name="fileLog">
            <appender-ref ref="FILE"/>
        </springProfile>
        <springProfile name="rabbitmqLog">
            <appender-ref ref="AMQP"/>
        </springProfile>
    </root>

    <springProfile name="rabbitmqLog">
        <!--很重要，DEBUG 级别会死循环。调用 RabbitTemplate 上传日志会记录 DEBUG 级别日志，记录日志又会触发上传日志 -->
        <logger name="org.springframework.amqp.rabbit" level="OFF"/>
    </springProfile>

</configuration>
